/* Asap Regular - 400 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Asap Medium - 500 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Asap SemiBold - 600 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Asap Bold - 700 */
@font-face {
  font-family: "Asap";
  src: url("../../assets/fonts/Asap/Asap-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Asap", sans-serif;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--bg-white);
}

:root {
  --nav-bg: #063f5c;
  --text-white: white;
  --text-mango: #f27f0c;
  --text-black: black;
  --text-red: #e75151;
  --text-blue: #429ebd;
  --text-dark-blue: #053f5c;
  --bg-light-blue: #04bfbf;
  --bg-yellow: #ffcc66;
  --bg-gray: #f2f2f2;
  --bg-white: #ffffff;
  --bg-pale-red: #e75151;
  --bg-pale-blue: #419ebd;
  --bg-sky-blue: #e3f1f5e5;
  --bg-hero-blue: #429ebd0a;
  --text-xs: 13px;
  --text-15: 15px;
  --text-16: 16px;
  --text-17: 17px;
  --text-18: 18px;
  --text-24: 24px;
  --text-25: 25px;
  --text-45: 45px;
  --text-36: 36px;
  --text-64: 64px;
  --text-67: 67px;
  --text-20: 20px;
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --text-30: 30px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

@mixin flex-start {
  display: flex;
  align-items: start;
}

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin flex-start-col {
  display: flex;
  align-items: start;
  flex-direction: column;
}

@mixin flex-center-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin padding {
  padding: 1.5rem 4rem;
}

@mixin buttonStyles {
  padding: 1rem 2rem;
  border-radius: 6px;
  border: 0;
}

.separator {
  opacity: 0.5;
}

input,
select {
  outline: 0;
}

select {
  cursor: pointer;
}

// top nav
nav {
  @include flex-center();
  justify-content: space-between;
  background-color: var(--nav-bg);
  color: var(--text-white);
  padding: 1rem 2rem;


  ul,
  div {
    @include flex-center();
    gap: 3rem;
    text-transform: uppercase;
    font-weight: var(--font-semibold);
    font-size: var(--text-15);
  }

  div {
    .separator {
      opacity: 0.5;
    }
  }
}

// header
header {
  @include flex-center();
  @include padding();
  // width: i;
  justify-content: space-between;
  background-color: var(--bg-white);
  gap: 4rem;

  &>img {
    width: 220px;
  }

  .search {
    @include flex-center();
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    font-size: var(--text-15);

    select {
      padding: 0.6rem 1.3rem;
      border: 0;
      margin-right: 2rem;

      option {
        color: #0000007d;
      }
    }

    .separator {
      font-size: var(--text-25);
    }

    input {
      border: 0;
      padding: 0.6rem 1.3rem;
      width: 100%;

      ::placeholder {
        color: #0000007d;
      }
    }

    img {
      background-color: var(--text-mango);
      padding: 1.1rem 1.3rem;
    }
  }

  .items {
    @include flex-center();
    gap: 1.5rem;

    div {
      @include flex-start();
      gap: 0.8rem;
      width: 100%;

      img {
        width: 20px;
      }

      .content {
        @include flex-start-col();
        gap: 0.4rem;

        .bold {
          font-weight: var(--font-bold);
        }

        span {
          font-size: var(--text-xs);
          text-wrap: nowrap;
        }
      }
    }

    a {
      img {
        width: 18px;
      }
    }
  }
}

main {
  max-width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  @include padding();

  #hero {
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    background-color: var(--bg-hero-blue);
    height: 600px;
    position: relative;

    &>img {
      width: 100%;
      height: 100%;
    }

    .content {
      position: absolute;
      top: 20%;
      left: 0;
      @include padding();
      @include flex-start-col();
      gap: 1rem;

      &>.bold {
        font-size: var(--text-24);
        font-weight: var(--font-semibold);
        color: var(--text-mango);
        text-transform: uppercase;
      }

      .title {
        font-size: var(--text-67);
        line-height: 1.3;

        .bold {
          font-size: var(--text-67);

          font-weight: var(--font-bold);
        }

        span {
          font-weight: var(--font-medium);
        }
      }

      button {
        @include buttonStyles();
        font-size: var(--text-20);
        color: var(--text-white);
        background: var(--bg-pale-blue);
      }
    }

    .img1 {
      position: absolute;
      width: 50%;
      overflow: hidden;
      height: 70%;
      bottom: 1rem;
      right: 2rem;
    }
  }

  #banner1 {
    margin-top: 4rem;
    width: 100%;

    .cards {
      @include flex-center();
      flex-wrap: wrap;
      width: 100%;
      gap: 1.5rem;
      margin-bottom: 2rem;

      .card {
        width: 400px;
        @include flex-center();
        cursor: pointer;
        min-height: 240px;
        position: relative;
        overflow: hidden;
        background-color: var(--bg-yellow);

        .content {
          position: absolute;
          top: 15%;
          left: 13%;
          @include flex-start();

          .details {
            @include flex-start-col();
            gap: 1rem;

            .bold {
              font-size: var(--text-24);
              font-weight: var(--font-bold);
              color: var(--text-dark-blue);
              text-transform: uppercase;
            }

            .semibold {
              font-size: var(--text-30);
              font-weight: var(--font-semibold);
            }

            .small {
              font-size: var(--text-18);
              font-weight: var(--font-semibold);
              color: var(--bg-pale-red);
              text-decoration: underline;
            }
          }
        }
      }

      .card1 {
        &>img {
          position: absolute;
          transform: rotateZ(360deg);
          bottom: 0;
          right: -20px;
        }
      }

      .card2 {
        background-color: #f6f6f6;

        &>img {
          position: absolute;
          transform: rotateZ(180deg);
          top: 0;
          right: 0;
        }

        .content {
          top: 22%;

          &>img {
            margin-top: -1.5rem;
          }

          .details {
            gap: 0.5rem;
            margin-top: 0.5rem;
            width: 100%;
          }
        }
      }

      .card3 {
        background-color: #3b7dd1;

        &>img {
          position: absolute;
          transform: rotateZ(0deg);
          bottom: 0;
          right: 0;
        }

        .content {
          top: 22%;

          &>img {
            margin-top: 3rem;
            width: 50%;
          }

          .details {
            gap: 0.5rem;
            margin-top: 0.5rem;
            width: 100%;

            .bold {
              color: var(--bg-yellow);
            }

            .small {
              color: var(--bg-sky-blue);
            }
          }
        }
      }
    }

    .cards2 {
      @include flex-center();
      width: 100%;
      gap: 1.5rem;
      margin-bottom: 2rem;

      .card1 {
        width: 100%;
        @include flex-center();
        cursor: pointer;
        min-height: 240px;
        position: relative;
        overflow: hidden;
        background-color: #f6f6f6;

        &>img {
          transform: rotate(180deg);
          position: absolute;
          bottom: 0;
          left: 0;
        }

        .content {
          position: absolute;
          top: 10%;
          left: 5%;
          @include flex-start();
          flex-direction: row-reverse;
          gap: 2rem;

          &>img {
            padding-bottom: 1rem;
          }

          .details {
            @include flex-start-col();
            gap: 0.5rem;
            margin-top: 1rem;

            .bold {
              font-size: var(--text-24);
              font-weight: var(--font-bold);
              color: var(--text-blue);
              text-transform: uppercase;
            }

            .semibold {
              font-size: var(--text-30);
              font-weight: var(--font-semibold);
            }

            .small {
              font-size: var(--text-18);
              font-weight: var(--font-semibold);
              color: var(--bg-pale-red);
              text-decoration: underline;
            }
          }
        }
      }

      .card2 {
        width: 100%;
        @include flex-center();

        cursor: pointer;
        min-height: 240px;
        position: relative;
        overflow: hidden;
        background-color: var(--bg-yellow);

        &>img {
          position: absolute;
          bottom: 0;
          right: 0;
        }

        .content {
          position: absolute;
          top: 15%;
          left: 13%;
          @include flex-start();
          flex-direction: row-reverse;

          &>img {
            padding-bottom: 1rem;
          }

          .details {
            @include flex-start-col();
            gap: 1rem;

            .bold {
              font-size: var(--text-24);
              font-weight: var(--font-bold);
              color: var(--text-dark-blue);
              text-transform: uppercase;
            }

            .semibold {
              font-size: var(--text-30);
              font-weight: var(--font-semibold);
            }

            .small {
              font-size: var(--text-18);
              font-weight: var(--font-semibold);
              color: var(--bg-pale-red);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  // category
  #category {
    margin-top: 4rem;

    .title {
      .items {
        margin-bottom: 1rem;
        @include flex-center();
        justify-content: space-between;

        p {
          font-size: var(--text-45);

          .bold {
            font-weight: var(--font-bold);
          }
        }

        div {
          @include flex-center();
          gap: 0.5rem;

          p {
            background-color: var(--bg-pale-blue);
            width: 37px;
            height: 37px;
            border-radius: 50%;
            @include flex-center();
            justify-content: center;

            img {
              width: 10px;
            }
          }
        }
      }

      .line {
        width: 100%;
        height: 4px;
        background: #f2f2f2;

        .yellow {
          background-color: var(--bg-yellow);
          width: 200px;
          height: 100%;
        }
      }
    }

    .products {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-top: 2rem;

      .product-card {
        width: 100%;
        overflow: hidden;

        img {
          width: 100%;
        }

        div {
          text-align: center;
          line-height: 2;

          .title {
            font-weight: var(--font-semibold);
            font-size: var(--text-20);
          }

          .discount {
            color: var(--text-mango);
            font-size: var(--text-16);
          }

          img {
            width: 90px;
          }
        }
      }
    }
  }

  // banner2
  #banner2 {
    width: 100%;
    @include flex-start();
    gap: 1rem;
    margin-top: 2rem;

    .item1 {
      width: 100%;
      position: relative;
      height: 576px;
      background-color: #04bfbf;
      border-radius: 8px;
      overflow: hidden;

      .content {
        padding: 4rem;
        @include flex-start-col();
        gap: 1rem;

        .top {
          font-size: var(--text-25);
          font-weight: var(--font-semibold);
          color: var(--bg-yellow);
        }

        .title {
          font-size: var(--text-64);
          font-weight: bold;
          color: var(--text-white);
        }

        .text {
          font-size: var(--text-30);
          font-weight: var(--font-regular);
          color: var(--text-white);
          margin-bottom: 1rem;
        }

        button {
          background: var(--bg-yellow);
          border: 0;
          border-radius: 6px;
          color: var(--text-black);
          font-size: var(--text-18);
          font-weight: var(--font-semibold);
          padding: 1rem 2rem;
        }
      }

      img {
        position: absolute;
        bottom: 0;
        width: 80%;
        right: -10%;
      }
    }

    .item2 {
      width: 50%;
      display: grid;
      height: 576px;
      grid-template-columns: repeat(1, 1fr);
      gap: 1rem;

      .card {
        width: 100%;
        position: relative;
        background: #000;
        overflow: hidden;
        border-radius: 8px;
        height: 280px;

        img {
          width: 100%;
          height: 100%;
        }

        .content {
          @include flex-start-col();
          justify-content: center;
          padding-left: 2rem;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          line-height: 1.5;
          height: 100%;
          background: url(../../assets/img/png/Rectangle\ 25.png);

          .title {
            font-size: var(--text-30);
            color: var(--text-white);
            font-weight: var(--font-bold);
            margin-bottom: .5rem;
          }

          .text {
            font-size: var(--text-18);
            color: var(--text-white);
            margin-bottom: .5rem;

          }

          button {
            background-color: var(--bg-yellow);
            padding: .6rem .8rem;
            border: 0;
            font-size: 12px;
            font-weight: var(--font-semibold);
            border-radius: 4px;
          }
        }
      }
    }
  }

  #feature {
    margin-top: 4rem;

    .title {
      .items {
        margin-bottom: 1rem;
        @include flex-center();
        justify-content: space-between;

        p {
          font-size: var(--text-45);

          .bold {
            font-weight: var(--font-bold);
          }
        }

        div {
          @include flex-center();
          gap: 0.5rem;

          p {
            background-color: var(--bg-pale-blue);
            width: 37px;
            height: 37px;
            border-radius: 50%;
            @include flex-center();
            justify-content: center;

            img {
              width: 10px;
            }
          }
        }
      }

      .line {
        width: 100%;
        height: 4px;
        background: #f2f2f2;

        .yellow {
          background-color: var(--bg-yellow);
          width: 200px;
          height: 100%;
        }
      }
    }

    .products {
      display: grid;
      margin-top: 2rem;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);

      .item1 {
        width: 100%;
        background-color: var(--bg-gray);
        border-radius: 12px;
        position: relative;
        @include padding();

        .card {
          @include flex-center-col();

          &>img {
            width: 80%;
          }

          .content {
            text-align: center;
            line-height: 1.5;

            .pro {
              text-transform: uppercase;
              font-size: var(--text-20);
              font-weight: var(--font-semibold);
              margin-bottom: 0.8rem;
            }

            .pro_name {
              font-size: var(--text-24);
              font-weight: var(--font-semibold);
              max-width: 70%;
              margin: 0 auto;
            }

            &>img {
              width: 110px;
              margin-top: 0.8rem;
            }

            .price {
              text-align: center;
              margin-bottom: 1rem;

              .mrp {
                color: var(--text-mango);
                font-size: var(--text-16);
                text-decoration: line-through;
              }

              .offer {
                color: var(--text-black);
                font-size: var(--text-16);
                margin-left: 0.5rem;
              }
            }

            button {
              background-color: var(--bg-pale-red);
              padding: 1rem 1.5rem;
              border: 0;
              border-radius: 6px;
              color: var(--text-white);
            }
          }
        }

        .badge {
          position: absolute;
          top: 1rem;
          left: 1rem;
          padding: 0.4rem 0.8rem;
          border-radius: 4.7px;
          color: var(--text-white);
          background-color: var(--bg-yellow);
        }
      }

      .item2 {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;

        .card {
          width: 100%;

          .image {
            width: 100%;
            height: 290px;
            position: relative;
            background-color: var(--bg-gray);
            border-radius: 12px;
            place-content: center;
            @include flex-center();
            justify-content: center;

            &>img {
              width: 60%;
            }

            .icons {
              position: absolute;
              bottom: 2rem;
              width: 100%;
              place-content: center;
              @include flex-center();
              gap: 1rem;

              p {
                width: 50px;
                height: 50px;
                @include flex-center();
                border-radius: 50%;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                justify-content: center;
                background: var(--bg-white);
                padding: 10px;

                img {
                  width: 15px;
                }
              }
            }

            .badge {
              position: absolute;
              top: 1rem;
              left: 1rem;
              padding: 0.4rem 0.8rem;
              border-radius: 4.7px;
              color: var(--text-white);
              background-color: var(--bg-yellow);
            }
          }

          .details {
            margin-bottom: 1rem;
            margin-top: 1rem;
            @include flex-center-col();
            gap: 1rem;

            .pro_name {
              font-size: var(--text-20);
              font-weight: var(--font-semibold);
            }

            .price {
              @include flex-center();
              gap: 0.8rem;

              .mrp {
                color: var(--text-mango);
                font-size: var(--text-16);
                text-decoration: line-through;
              }

              .offer {
                color: var(--text-black);
                font-size: var(--text-16);
              }
            }
          }
        }
      }
    }
  }

  .client {
    margin-top: 50px;
    background-image: url(../../assets/img/png/Rectangle\ 61.png);
    width: 100%;
    @include flex-center-col();
    gap: 1.2rem;
    padding-top: 50px;
    padding-bottom: 50px;

    .head-body {
      width: 677px;
      text-align: center;
      line-height: 1.2;
    }

    .head-title {
      font-family: var(--font-semibold);
      font-size: var(--text-45);
      font-weight: 500;
    }

    .card {
      position: relative;
      width: 1000px;
      height: 381px;
      background-color: transparent;



      .card-overlay {
        width: 919px;
        height: 381px;
        position: absolute;
        border-radius: 10px;
        left: 20px;
        z-index: 1;
        background-color: #F8F8F8;
      }

      .client-card {
        width: 964px;
        height: 345px;
        position: absolute;
        background-color: #FFFFFF;
        z-index: 2;
        top: 20px;
        border-radius: 10px;
        text-align: center;
        @include flex-center-col();
        padding: 50px 50px;
        gap: 2rem;

        .client-head {

          @include flex-center();
          gap: 2rem;

          .founder {
            @include flex-center-col();

          }
        }

        .client-txt {
          width: 817px;
          background-color: #fff;
          line-height: 1.8;
          font-size: var(--text-17);

        }

        .quote {
          position: absolute;
          right: 50px;
        }

        .quote- {
          position: absolute;
          bottom: 15px;
          left: 60px;
        }

        .r-btn {
          position: absolute;
          background-color: var(--text-mango);
          width: 50px;
          height: 50px;
          padding-top: 16px;
          border-radius: 50%;
          right: -25px;
          top: 42%;

        }

        .l-btn {
          position: absolute;
          background-color: var(--text-mango);
          width: 50px;
          height: 50px;
          padding-top: 16px;
          border-radius: 50%;
          left: -25px;
          top: 42%;
        }
      }
    }
  }
}




footer {
  width: 100%;
  margin-top: 6rem;
  position: relative;
  background-color: #053f5cf2;
  z-index: 10;

  #service {
    position: absolute;
    top: -10rem;

    width: 100%;
    @include padding();
    z-index: 20;
    margin-bottom: -4rem;
    margin-top: 4rem;

    &>div {
      padding: 2rem;
      background-color: var(--bg-white);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

      .service-card {
        @include flex-center();
        justify-content: center;
        gap: 1rem;
        border-right: 2px solid #f1f1f1;

        div {
          @include flex-start-col();
          gap: 0.5rem;
        }

        img {
          width: 40px;
        }
      }

      .last {
        border-right: 0;
      }
    }
  }

  &>div {
    display: grid;
    @include padding();
    padding-top: 6rem;
    width: 100%;
    color: var(--text-white);
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

    .footer-card {
      @include flex-start-col();

      .title {
        margin-bottom: 2rem;
        font-size: var(--text-30);
        font-weight: var(--font-semibold);
      }

      .content {

        @include flex-start-col();
        gap: 1rem;

        .flex {

          display: flex;
          align-items: center;

          gap: 1rem;

          p {
            line-height: 1;
          }

          img {
            width: 18px;
          }
        }

        .icons {
          p {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            background-color: var(--bg-pale-blue);
            @include flex-center();
            justify-content: center;

            img {
              width: 15px;
            }

            .fb {
              width: 8px;
            }
          }
        }
      }
    }

    .news {
      width: 100%;
      @include flex-start-col();
      gap: 2rem;

      .items1 {
        .content {
          div {
            @include flex-center();
            justify-content: space-between;
            width: 80%;
            background-color: #063f5c;
            border: 1px solid #f2f2f2;
            border-radius: 3px;

            img {
              padding: 1rem;
              background-color: var(--text-mango);
            }

            input {
              width: 100%;
              padding: 1rem;
              outline: 0;
              border: 0;
              background-color: transparent;
            }
          }
        }
      }

      .item2 {
        .content {
          img {
            width: 80%;
          }
        }
      }
    }
  }

  &>p {
    background-color: var(--bg-light-blue);
    padding: 1.2rem 1rem;
    text-align: center;
    font-size: var(--text-18);
    font-weight: var(--font-regular);
    color: var(--text-white);
  }
}


@media screen and (max-width: 1200px) {
  header {
    .search {

      .separator,
      select {
        display: none;
      }
    }
  }

  main {
    #hero {
      .content {
        .title {
          .bold {
            font-size: var(--text-45);
          }

          font-size: var(--text-45);
        }
      }
    }

    #banner1 {
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .card {
          width: 100%;
        }
      }

      .cards2 {

        .card1,
        .card2 {
          .content {
            margin-top: 1rem;

            .details {
              .bold {
                font-size: var(--text-20);
              }

              .semibold {
                font-size: var(--text-24);
              }

              .small {
                font-size: var(--text-15);
              }
            }

            img {
              width: 40%;
            }
          }
        }
      }
    }

    #category {
      .products {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  footer {
    #service {
      &>div {
        grid-template-columns: repeat(2, 1fr);

        .service-card {
          justify-content: flex-start;
        }
      }
    }

    &>div {
      width: 100%;
      padding-top: 9rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1050px) {
  header {
    .search {
      display: none;
    }
  }

  main {
    #popular {
      .title {
        max-width: 80%;
      }

      .cards {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    #feedback {
      padding: 2rem 1rem;

      .title {
        max-width: 90%;
        text-align: center;

        .top {
          font-size: var(--text-30);
        }

        .regular {
          font-size: var(--text-17);
        }
      }

      .content {
        .canvas {
          height: 400px;

          .profile {
            .account {
              img {
                width: 45px;
                height: 45px;
              }
            }

            &>p {
              max-width: 70%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  main {
    #hero {
      height: 400px;

      .content {
        .title {
          .bold {
            font-size: var(--text-30);
          }

          font-size: var(--text-30);
        }
      }

      .img1 {
        position: absolute;
        width: 50%;
        overflow: hidden;
        height: 64%;
        bottom: 1rem;
        right: 2rem;
      }
    }

    #banner1 {
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .card,
        .card1,
        .card2,
        .card3 {
          max-width: 100%;
        }
      }

      .cards2 {

        .card1,
        .card2 {
          .content {
            margin-top: 1rem;

            .details {
              .bold {
                font-size: var(--text-20);
              }

              .semibold {
                font-size: var(--text-24);
              }

              .small {
                font-size: var(--text-15);
              }
            }

            img {
              width: 40%;
            }
          }
        }
      }
    }

    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;

      .item2 {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
      }
    }

    #feature {
      .products {
        grid-template-columns: repeat(1, 1fr);

        .item1 {
          width: 60%;
          margin: 0 auto;
          padding: 2rem;
          margin-bottom: 2rem;

          .card {
            img {
              width: 50%;
            }
          }
        }
      }
    }



  }

}

@media screen and (max-width: 850px) {
  nav {
    ul {
      width: 80%;
      margin: 0 auto;
    }

    div {
      display: none;
    }
  }

  header {
    .items {

      div,
      .separator {
        display: none;
      }
    }
  }

  main {
    padding: 1rem 3rem;

    #hero {
      height: 300px;

      .content {
        top: 10%;

        .title {
          .bold {
            font-size: var(--text-30);
          }

          font-size: var(--text-30);
        }
      }

      .img1 {
        width: 45%;
        height: 64%;
      }
    }

    #banner1 {
      .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .card,
        .card1,
        .card2,
        .card3 {
          max-width: 100%;
        }
      }

      .cards2 {
        flex-direction: column;
      }
    }

    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;

      .item2 {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        height: auto;
      }
    }

    #category {
      .title {
        .items {
          p {
            font-size: var(--text-25);

            .bold {
              font-weight: var(--font-bold);
            }
          }

          div {
            p {
              width: 20px;
              height: 20px;

              img {
                width: 8px;
              }
            }
          }
        }
      }

      .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    #popular {
      .title {
        max-width: 80%;
      }

      .cards {
        grid-template-columns: repeat(1, 1fr);

        .card {
          max-width: 75%;
          margin: 0 auto;
        }
      }
    }

    #feedback {
      padding: 2rem 1rem;

      .title {
        max-width: 80%;
        text-align: center;

        .top {
          font-size: var(--text-30);
        }

        .regular {
          font-size: var(--text-17);
        }
      }

      .content {
        .canvas {
          height: 400px;
          width: 90%;

          .profile {
            &>p {
              max-width: 70%;
              font-size: var(--text-15);
            }
          }
        }
      }
    }
  }

  footer {
    #service {
      &>div {
        grid-template-columns: repeat(2, 1fr);

        .service-card {
          justify-content: flex-start;
        }
      }
    }

    &>div {
      width: 100%;
      padding-top: 9rem;
      grid-template-columns: repeat(2, 1fr);
    }

    &>p {
      font-size: var(--text-15);
    }
  }
}

@media screen and (max-width: 660px) {
  nav {
    ul {
      width: 80%;
      gap: 2rem;
      margin: 0 auto;
    }

    div {
      display: none;
    }
  }

  header {
    .items {

      div,
      .separator {
        display: none;
      }
    }
  }

  main {
    #hero {
      height: 300px;

      .content {
        top: 10%;

        .title {
          .bold {
            font-size: var(--text-30);
          }

          font-size: var(--text-30);
        }
      }

      .img1 {
        width: 40%;
        height: 54%;
      }
    }

    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;

      .item2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
      }
    }

    #category {
      .title {
        .items {
          p {
            font-size: var(--text-36);

            .bold {
              font-weight: var(--font-bold);
            }
          }
        }
      }

      .products {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    #popular {
      .title {
        max-width: 100%;

        .top {
          font-size: var(--text-36);
        }

        .regular {
          font-size: var(--text-15);
        }
      }

      .cards {
        .card {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }

    #feature {
      .title {
        .items {
          p {
            font-size: var(--text-36);

            .bold {
              font-weight: var(--font-bold);
            }
          }

          div {
            p {
              width: 20px;
              height: 20px;

              img {
                width: 8px;
              }
            }
          }
        }
      }

      .products {
        grid-template-columns: repeat(1, 1fr);

        .item1 {
          width: 100%;
          margin: 0 auto;
          padding: 2rem;
          margin-bottom: 2rem;

          .card {
            img {
              width: 50%;
            }
          }
        }

        .item2 {
          .card {
            .image {
              &>img {
                width: 80%;
              }

              .icons {
                gap: 0.5rem;

                p {
                  width: 40px;
                  height: 40px;

                  img {
                    width: 15px;
                  }
                }
              }
            }

            .details {
              align-items: start;
            }
          }
        }
      }
    }

    #feedback {
      padding: 2rem 1rem;

      .title {
        max-width: 80%;
        text-align: center;

        .top {
          font-size: var(--text-30);
        }

        .regular {
          font-size: var(--text-17);
        }
      }

      .content {
        .canvas {
          height: 450px;
          width: 90%;

          .profile {
            &>p {
              max-width: 70%;
              font-size: var(--text-15);
            }
          }
        }
      }
    }
  }

  footer {
    #service {
      &>div {
        grid-template-columns: repeat(1, 1fr);

        .service-card {
          justify-content: flex-start;
          border-right: 0;
        }
      }
    }

    &>div {
      width: 100%;
      padding-top: 18rem;
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: 550px) {
  body {
    overflow-x: hidden;
  }

  nav {
    ul {
      width: 100%;
      font-size: var(--text-xs);

      gap: 1.5rem;
      margin: 0 auto;
    }

    div {
      display: none;
    }
  }

  header {
    padding: .5rem;
    overflow: hidden;

    .items {
      gap: 0.5rem;
      padding-right: .5rem;

      div,
      .separator {
        display: none;
      }

      .heart {
        display: none;
      }
    }
  }

  main {
    padding: 0.5rem 1rem;

    #hero {
      height: 300px;

      .content {
        padding: 0.6rem;
        top: 10%;

        .title {
          .bold {
            font-size: var(--text-25);
          }

          font-size: var(--text-200);
        }

        button {
          padding: 0.8rem 0.5rem;
        }
      }

      .img1 {
        width: 45%;
        height: 44%;
      }
    }

    #banner2 {
      flex-direction: column;
      margin-bottom: 0rem;

      .item2 {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        height: auto;
      }
    }

    #category {
      .title {
        .items {
          p {
            font-size: var(--text-36);

            .bold {
              font-weight: var(--font-bold);
            }
          }
        }
      }

      .products {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    #popular {
      .title {
        max-width: 100%;

        .top {
          font-size: var(--text-36);
        }

        .regular {
          font-size: var(--text-15);
        }
      }

      .cards {
        .card {
          max-width: 100%;
          margin: 0 auto;
        }
      }
    }

    #feature {
      .title {
        .items {
          p {
            font-size: var(--text-36);

            .bold {
              font-weight: var(--font-bold);
            }
          }

          div {
            p {
              width: 20px;
              height: 20px;

              img {
                width: 8px;
              }
            }
          }
        }
      }

      .products {
        grid-template-columns: repeat(1, 1fr);

        .item1 {
          width: 100%;
          margin: 0 auto;
          padding: 2rem;
          margin-bottom: 2rem;

          .card {
            img {
              width: 50%;
            }
          }
        }

        .item2 {
          .card {
            .image {
              &>img {
                width: 80%;
              }

              .icons {
                gap: 0.5rem;

                p {
                  width: 40px;
                  height: 40px;

                  img {
                    width: 15px;
                  }
                }
              }
            }

            .details {
              align-items: start;
            }
          }
        }
      }
    }

    #feedback {
      padding: 2rem 1rem;

      .title {
        max-width: 80%;
        text-align: center;

        .top {
          font-size: var(--text-30);
        }

        .regular {
          font-size: var(--text-17);
        }
      }

      .content {
        .canvas {
          height: 500px;
          width: 90%;

          .profile {
            &>p {
              max-width: 70%;
              font-size: var(--text-15);
            }
          }
        }
      }
    }
  }

  footer {
    #service {
      &>div {
        grid-template-columns: repeat(1, 1fr);

        .service-card {
          justify-content: flex-start;
          border-right: 0;
          text-wrap: wrap;
        }
      }
    }

    &>div {
      width: 100%;
      padding-top: 18rem;
      grid-template-columns: repeat(1, 1fr);
    }

    &>p {
      font-size: var(--text-xs);
    }
  }
}


@media screen and (max-width: 950px) {
  main{
    .client {
      background-size: auto;
     
      .head-body{
        width: 80%;
      }
  
      .head-title {
        font-size: 1.5rem; // adjust according to var(--text-45) on mobile
      }
  
      .card {
        width: 70%;
        @include flex-center-col();
        
        .card-overlay{
          display: none;
          
        }
  
        .client-card {
          width: 600px;
          height:400px ;
          // background-color: black;
          .client-head {
            flex-direction: column;
            gap: 1rem;
          }

          .client-txt{
            width:95%;
            font-size: 15px;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 750px) {
  main{
    .client {
      background-size: auto;
      
      .head-body{
        width: 80%;
      }
      .head-title {
        font-size: 1.2rem; // adjust according to var(--text-45) on mobile
      }
      
  
      .card {
        width: 70%;
        @include flex-center-col();
        
        .card-overlay{
          display: none;
          
        }
  
        .client-card {
          width: 500px;
          height: fit-content;
          .client-head {
            flex-direction: column;
            gap: 1rem;
          }

          .client-txt{
            width:90%;
            font-size:12px;
          }
        }
      }
    }
  }
}



@media screen and (max-width: 550px) {
  main{
    .client {
      background-size: auto;
      height: 640px;
      .head-body{
        width: 80%;
        font-size: 10px;
      }
      .head-title {
        font-size: 1rem; // adjust according to var(--text-45) on mobile
      }
      
  
      .card {
        width: 90%;
        @include flex-center-col();
        
        .card-overlay{
          display: none;
          
        }
  
        .client-card {
          width: 100%;
          height: 470px;
          .client-head {
            flex-direction: column;
            gap: 1rem;
          }

          .client-head{
            .founder{
              font-size: 10px;
            }
          }

          .client-txt{
            width:90%;
            font-size:10px;
          }
        }
      }
    }
  }
}